@model IEnumerable<ApplicationUser>

<div class="container p-3">
     <div class="row pt-4">
         <div class="col-6">
         <h2 class="text-primary">User List</h2>
         </div>
     </div>
</div>

<div>
    @if(Model.Count() > 0)
    {
        <table class="table table-striped table-bordered">
            <tr> 
                <th>
                    Email
                </th>
                <th>
                    Name
                </th>
                <th>
                    Roles
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Role
                    </td>
                    <td width="30%">
                        <div class="text-center">
                            <form asp-action="Delete" asp-route-userId="@item.Id">
                                <a asp-action="Edit" asp-route-userId="@item.Id" class="btn btn-primary mx-1 rounded-2" 
                                style="cursor:pointer" width="50%"><i class="bi bi-pencil-square"></i> Edit</a>

                                 <a asp-action="ManageUserClaims" asp-route-userId="@item.Id" class="btn btn-info text-white mx-1 rounded-2" 
                                style="cursor:pointer" width="50%">Claim</a>

                                @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                                {
                                    // we want to show them the option to lock
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-success text-white mx-1 rounded-2"
                                        style="cursor:pointer">
                                        <i class="bi bi-lock"></i>
                                        <span>&nbsp; Lock &nbsp;</span>
                                    </button>
                                }
                                else
                                {
                                    // we want to show them the option to unlock
                                    <button asp-action="LockUnlock" asp-route-userId="@item.Id" class="btn btn-warning text-white mx-1 rounded-2"
                                        style="cursor:pointer">
                                        <i class="bi bi-unlock"></i>
                                        <span>Unlock</span>
                                    </button>
                                }
                                
                                <button type="submit" onclick="return confirm('Are you sure you want to delete this?')" 
                                        width="50%" class="btn btn-danger mx-2 rounded-2" ><i class="bi bi-trash"></i> Delete</button>
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </table>
    }
</div>