@model IEnumerable<Tasks>
@{
    ViewData["Title"] = "Todo";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Todo</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Tasks" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Create New Task
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filter" method="post">
            <div class="mb-3">
                <label class="form-label">Category:</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categories, "CategoryId", "Name", ViewBag.Filters.CategoryId))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Due:</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.DueFilters, "Key", "Value", ViewBag.Filters.Due))">
                    <option value="all">All</option>
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Status:</label>
                <select name="filter" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Statuses, "StatusId", "Name", ViewBag.Filters.StatusId))">
                    <option value="all">All</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary mx-2 rounded-2">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary mx-2 rounded-2">Clear</a>
        </form>
    </div>
    <div class="col-md-10">   
        <form asp-action="IsDone" method="post" asp-route-id="@ViewBag.Filters.FilterString">
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            Tasks
                        </th>
                        <th>
                            Due Date
                        </th>
                        <th>
                            Category
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        string overdue = item.Overdue ? "bg-warning" : "";
                        <tr>
                            <td class="@overdue" width="48%">
                                <a asp-controller="Tasks" asp-action="Details" asp-route-id="@item.Id"
                                   class="text-body" style="text-decoration: none;" title="@item.Description">@item.Title</a>
                            </td>
                            <td class="@overdue" width="20%">
                                @item.DueDate?.ToShortDateString()
                            </td>
                            <td class="@overdue" width="15%">
                                @item.Category.Name
                            </td>
                            <td>
                                <div class="btn-group" role="group">
                                    <div class="text-center mx-2">
                                        <form asp-action="Delete" asp-route-id="@item.Id">
                                            @if (item.StatusId == "open")
                                            {
                                                // we want to show them the option to completed
                                                <button asp-action="IsDone" asp-route-id="@item.Id" class="btn btn-secondary text-white"
                                                        style="cursor:pointer">
                                                    <i class="bi bi-square"></i>
                                                </button>
                                            }
                                            else if (item.StatusId == "closed")
                                            {
                                                // we want to show them the option to open
                                                <button asp-action="IsDone" asp-route-id="@item.Id" class="btn btn-success text-white"
                                                        style="cursor:pointer">
                                                    <i class="bi bi-check2-square"></i>
                                                </button>
                                            }
                                        </form>
                                    </div>
                                    <a asp-controller="Tasks" asp-action="Edit" asp-route-id="@item.Id"
                                       class="btn btn-primary mx-2 rounded-2"> <i class="bi bi-pencil-square"></i></a>
                                    <a asp-controller="Tasks" asp-action="Delete" asp-route-id="@item.Id"
                                       class="btn btn-danger mx-2 rounded-2"> <i class="bi bi-trash"></i></a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>
    </div>
</div>



